.bgImg {
  background-image: url("../../assets/images/giveIndia_login_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 70px 0;
}

.Container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

.CardHeader {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.Logo {
  max-width: 125px;
  width: 100%;
  height: 44px;
}

.LightText {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
}

.ForgotPassword {
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.66);
  text-align: center;
  margin-top: 1.5rem;
}
