.NotificationIcon {
    background-color: rgb(255, 80, 80);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NotificationContent {
    margin-left: 10px;
    p {
        margin: 0;
        color: rgba(0, 0, 0, 0.76);
        font-weight: 400;
        font-size: 15px;
        span {
            font-size: 15px;
            color: #008c8c;
            font-weight: 600;
        }
    }
    small {
        color: rgba(0, 0, 0, 0.66);
        font-size: 13px;
    }
}

.NotificationBody {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
