.FpSection {
    min-height: 100vh;
    padding: 5rem 0;
    background-color: #fdf7f7;
}

.more {
    padding-top: 2rem;
    text-align: center;
    a {
        color: rgba(0, 0, 0, 0.66);
        font-size: 15px;
        font-weight: 600;
    }
}
