.RmFooter {
    padding: 17px 0;
    border-top: 1px solid rgb(239, 239, 239);
    background-color: #fff;
    text-align: center;
    p {
        margin: 0;
        color: rgb(153, 153, 153);
        font-size: 14px;
        font-weight: 400;
    }
}
